In [23]:
# Change Python path
import os, sys
os.chdir("/LOCALDATA/ARTHURs_FILES/Codigos/")
print(os.getcwd())
sys.path.append('python_modules')

# Enables modules autoreload (important during development)
%load_ext autoreload
%autoreload 2

/LOCALDATA/ARTHURs_FILES/Codigos
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [26]:
from data_managers.to_nc_converter import puerto_csv_to_nc

df_initial = puerto_csv_to_nc()
df_initial

                         T  Canal de obtencion de los datos
time
2009-08-14 06:00:00  26.20                              2.0
2009-08-14 07:00:00  26.20                              2.0
2009-08-14 08:00:00  26.10                              2.0
2009-08-14 09:00:00  25.80                              2.0
2009-08-14 10:00:00  25.90                              2.0
...                    ...                              ...
2025-04-29 21:00:00  18.62                              3.0
2025-04-29 22:00:00  18.57                              3.0
2025-04-29 23:00:00  18.48                              3.0
2025-04-30 00:00:00  18.38                              3.0
2025-04-30 01:00:00  18.30                              3.0

[137708 rows x 2 columns]

In [27]:
from data_managers.to_nc_converter import puerto_marta_s_txt_to_nc

df_martas = puerto_marta_s_txt_to_nc()
df_martas

                         T
time
2009-08-14 06:00:00  26.20
2009-08-14 07:00:00  26.20
2009-08-14 08:00:00  26.10
2009-08-14 09:00:00  25.80
2009-08-14 10:00:00  25.90
...                    ...
2023-03-31 19:00:00  16.37
2023-03-31 20:00:00  16.37
2023-03-31 21:00:00  16.36
2023-03-31 22:00:00  16.37
2023-03-31 23:00:00  16.36

[119466 rows x 1 columns]